html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background: #f4f4f4;
  margin: 0;
  font-family: 'IBM Plex Mono';
}

.items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
  margin: 0 auto;
  padding: 3rem;
}

.item {
  padding: 1rem;
  background: white;
  border-radius: 8px;
  box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.1);
}

.item__header {
  display: grid;
  grid-template-columns: 1fr max-content;
  grid-template-rows: minmax(1.5rem, max-content);
  align-items: center;
  grid-column-gap: 1rem;
}

.item__filename {
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: bold;
}

.title {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 3rem;
  padding-bottom: 0;
}

.title h1 {
  position: relative;
  font-size: 48px;
  top: 4px;
}

.filters {
  display: flex;
}

.filters > * {
  margin-right: 1rem;
  min-width: 250px;
}

.no-match {
  padding: 6rem;
  margin: 0 auto;
  text-align: center;
}

.grid {
  display: grid;
}

.grid-columns-2 {
  grid-template-columns: repeat(2, var(--column-size, 1fr));
}

.grid-max-content {
  --column-size: max-content;
}

.grid-row-gap-1 {
  row-gap: 1px;
}

// Table
td,
th {
  border: 1px solid #999;
  padding: 0.5rem;
}

table {
  border-collapse: collapse;
}

// Exports
.layout {
  padding: 2rem;
}

.layout-results {
  margin-top: 2rem;
}

.search {
  display: grid;
}

.search-label {
  margin-bottom: 8px;
}

.search-input {
  padding: 0.25rem 0.5rem;
}

.results {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
}

.result {
  overflow: hidden;
  background: white;
  border-radius: 8px;
  box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.1);
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.result-title {
  // display: inline-block;
  font-weight: bold;
  margin-bottom: 1rem;
}

.result-subtitle {
  font-style: italic;
}

ul {
  margin: 0.25rem 0;
  padding-left: 1rem;
  // list-style: none;
}

p {
  margin: 0;
}

// Statistics
.stat-above-1-below-2 {
  background: #fbca04;
}

.stat-above-2 {
  background: #b60205;
  color: white;
}

// .stat-below-1-above-2 {
//   background: #c5def5;
// }

// .stat-within-1 {
//   background: #bfdadc;
// }

// .stat-below-2 {
//   background: #0e8a16;
//   color: white;
// }
